eg-grid {
  min-height: calc(100vh - 450px);
  display: block;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.material-icons {
  font-size: 1rem;
  vertical-align: middle;
}

button .material-icons {
  margin-right: 0.25rem;
}

/* Styles for legacy notice */
.legacy-icon {
  font-size: 2.5rem;
  opacity: 0.7;
}

.alert-warning.border-warning {
  border-left-width: 5px;
}

.alert-warning ul {
  padding-left: 1.5rem;
}
