<eg-title i18n-prefix prefix="Patron Buckets">
</eg-title>

<eg-staff-banner bannerText="Patron Buckets" i18n-bannerText>
</eg-staff-banner>

<eg-confirm-dialog #deleteDialog i18n-dialogTitle dialogTitle="Delete Bucket">
</eg-confirm-dialog>

<eg-alert-dialog #deleteFail i18n-dialogTitle i18n-dialogBody 
  dialogTitle="Delete Failed" dialogBody="Bucket deletion failed">
</eg-alert-dialog>

<eg-alert-dialog #retrieveByIdFail i18n-dialogTitle 
  dialogTitle="Bucket Not Found">
</eg-alert-dialog>

<eg-fm-record-editor #editDialog idlClass="cub" readonlyFields="id,btype,create_time,owner">
</eg-fm-record-editor>

<eg-bucket-action-summary-dialog #results i18n-dialogTitle
  dialogTitle="Deletion Results">
</eg-bucket-action-summary-dialog>

<div class="row mb-3">
  <div class="col-lg-3">
    <div class="input-group mb-2">
      <button class="btn btn-outline-secondary dropdown-toggle" 
        type="button" 
        data-bs-toggle="dropdown" 
        aria-expanded="false" i18n>
        Buckets
      </button>
      <ul class="dropdown-menu"></ul>
<div class="row row-cols-auto justify-content-between mb-3">
    <div class="col">
      <ul class="list-unstyled hstack eg-grid-filter-links">
          <ng-container *ngFor="let view of getViewKeys()">
            <li>
              <button type="button" class="btn btn-link"
                [ngClass]="{'active': isCurrentView(view)}"
                (click)="switchTo(view)"
                [disabled]="views[view]['count'] <= 0"
                [attr.aria-current]="isCurrentView(view) ? 'page' : null">
                {{views[view].label}}
                ({{views[view]['count'] === -1 ? (countInProgress ? '...' : 0) : views[view]['count']}})
              </button>
            </li>
          </ng-container>
      </ul>
    </div>
    <div class="col">
        <form class="input-group">
          <label for="bucket-id-input" class="input-group-text" i18n>Bucket ID:</label>
          <input type="text" class="form-control"
            id="bucket-id-input"
            name="bucket-id-input"
            [(ngModel)]="bucketIdToRetrieve"
            (keydown.enter)="retrieveBucketById()">
            <button class="input-group-text"
              (click)="retrieveBucketById()" i18n>
              Search
            </button>
        </form>
    </div>
</div>

<eg-bucket-transfer-dialog #transferDialog></eg-bucket-transfer-dialog>
<eg-bucket-share-dialog #shareBucketDialog></eg-bucket-share-dialog>

<eg-grid #grid idlClass="cub"
    persistKey="circ.patron_buckets"
    [dataSource]="dataSource" [cellTextGenerator]="cellTextGenerator"
    (rowSelectionChange)="gridSelectionChange($event)"
    showDeclaredFieldsOnly="true"
    [sortable]="true" [filterable]="true" [allowNamedFilterSets]="false">

    <eg-grid-toolbar-action
        label="Edit Bucket" i18n-label
        [disabled]="!oneSelectedRow"
        (onClick)="openEditBucketDialog($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action
        label="Add to Favorites" i18n-label
        [disabled]="noSelectedRows"
        (onClick)="favoriteBucket($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action
        label="Remove from Favorites" i18n-label
        [disabled]="noSelectedRows"
        (onClick)="unFavoriteBucket($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action
        label="Delete Bucket(s)" i18n-label
        [disabled]="noSelectedRows"
        (onClick)="openDeleteBucketDialog($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action
        label="Transfer Bucket Ownership" i18n-label
        [disabled]="noSelectedRows"
        (onClick)="openTransferDialog($event)">
    </eg-grid-toolbar-action>

    <eg-grid-toolbar-action
        label="Share Bucket" i18n-label
        [disabled]="noSelectedRows"
        (onClick)="openShareBucketDialog($event)">
    </eg-grid-toolbar-action>

    <eg-grid-column name="favorite" label="Favorite" i18n-label [filterable]="false" [sortable]="false" [cellTemplate]="favoriteCellTemplate"></eg-grid-column>
    <eg-grid-column path="id"></eg-grid-column>
    <eg-grid-column path="name" [cellTemplate]="nameTemplate"></eg-grid-column>
    <eg-grid-column path="description"></eg-grid-column>
    <eg-grid-column path="btype"></eg-grid-column>
    <eg-grid-column path="owner.usrname" i18n-label label="Owner"></eg-grid-column>
    <eg-grid-column path="create_time"></eg-grid-column>
    <eg-grid-column name="row-actions" label="Actions" i18n-label [filterable]="false" 
      [sortable]="false" [cellTemplate]="bucketActionsTemplate"></eg-grid-column>
</eg-grid>

<ng-template #favoriteCellTemplate let-row="row">
  <button *ngIf="favoriteIds.includes(row?.bucket?.id)" (click)="unFavoriteBucket([row])"
    type="button" class="btn mat-icon-in-button text-warning user-favorite">
    <span class="material-icons" title="Favorite" i18n-title aria-hidden="true">star</span>
    <span class="visually-hidden" i18n>Favorite</span>
  </button>
  <button *ngIf="!favoriteIds.includes(row?.bucket?.id)" (click)="favoriteBucket([row])"
    type="button" class="btn mat-icon-in-button text-muted user-favorite">
    <span class="material-icons" title="Not favorite" i18n-title aria-hidden="true">star_outlined</span>
    <span class="visually-hidden" i18n>Not favorite</span>
  </button>
</ng-template>

<ng-template #nameTemplate let-r="row">
    <a routerLink="/staff/circ/patron/bucket/content/{{r?.bucket?.id}}" [queryParams]="{returnTo: currentView}">{{r?.bucket?.name}}</a>
</ng-template>

<ng-template #bucketActionsTemplate let-row="row">
  <div class="hstack flex-wrap justify-content-end">
    <div class="hstack flex-wrap">
      <button type="button" class="btn mat-icon-in-button bucket-action" (click)="openEditBucketDialog([row])">
        <span class="visually-hidden" id="actions-edit-bucket-{{row?.bucket?.id}}" i18n>Edit {{row?.bucket?.name}}</span>
        <span class="material-icons" aria-hidden="true" title="Edit {{row?.bucket?.name}}" i18n-title>edit</span>
      </button>
    </div>
    <div class="hstack flex-wrap">
      <button type="button" class="btn mat-icon-in-button bucket-action" (click)="openShareBucketDialog([row])">
        <span class="visually-hidden" id="actions-share-bucket-{{row?.bucket?.id}}" i18n>Share {{row?.bucket?.name}}</span>
        <span class="material-icons" aria-hidden="true" title="Share {{row?.bucket?.name}}" i18n-title>account_circle</span>
      </button>
      <button type="button" class="btn mat-icon-in-button bucket-action bucket-destroy" (click)="openDeleteBucketDialog([row])">
        <span class="visually-hidden" id="actions-delete-bucket-{{row?.bucket?.id}}" i18n>Delete {{row?.bucket?.name}}</span>
        <span class="material-icons" aria-hidden="true" title="Delete {{row?.bucket?.name}}" i18n-title>close</span>
      </button>
    </div>
  </div>
</ng-template>
