a.btn .material-icons {
    vertical-align: middle;
    margin-right: 0.25rem;
}

.btn-group .btn {
    display: flex;
    align-items: center;
}

.material-icons {
    font-size: 1rem;
    margin-right: 0.25rem;
}

.btn-toolbar {
    align-items: stretch;
}

eg-grid {
    min-height: calc(100vh - 220px);
    display: block;
}

.align-text-bottom {
    vertical-align: text-bottom;
}
