<eg-title i18n-prefix prefix="Patron Buckets">
</eg-title>

<eg-staff-banner bannerText="Patron Buckets" i18n-bannerText>
</eg-staff-banner>

<eg-confirm-dialog #deleteDialog i18n-dialogTitle dialogTitle="Delete Bucket">
</eg-confirm-dialog>

<eg-alert-dialog #deleteFail i18n-dialogTitle i18n-dialogBody 
  dialogTitle="Delete Failed" dialogBody="Bucket deletion failed">
</eg-alert-dialog>

<eg-alert-dialog #retrieveByIdFail i18n-dialogTitle 
  dialogTitle="Bucket Not Found">
</eg-alert-dialog>

<eg-fm-record-editor #editDialog idlClass="cub" readonlyFields="id,btype,create_time,owner">
</eg-fm-record-editor>

<eg-bucket-action-summary-dialog #results i18n-dialogTitle
  dialogTitle="Deletion Results">
</eg-bucket-action-summary-dialog>

<div class="container-fluid px-0">
  <div class="row mb-3">
    <div class="col-md-8">
      <ul class="nav nav-pills">
        <ng-container *ngFor="let view of getViewKeys()">
          <li class="nav-item">
            <button type="button" class="nav-link"
              [ngClass]="{'active': isCurrentView(view)}"
              (click)="switchTo(view)"
              [disabled]="views[view]['count'] <= 0"
              [attr.aria-current]="isCurrentView(view) ? 'page' : null">
              {{views[view].label}}
              <span class="badge bg-secondary ms-1">{{views[view]['count'] === -1 ? (countInProgress ? '...' : 0) : views[view]['count']}}</span>
            </button>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <form class="input-group">
        <label for="bucket-id-input" class="input-group-text" i18n>Bucket ID:</label>
        <input type="text" id="bucket-id-input" class="form-control"
          [(ngModel)]="bucketIdToRetrieve" name="bucketIdToRetrieve">
        <button class="btn btn-outline-secondary" type="submit" 
          (click)="retrieveBucketById()" i18n>Retrieve</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <eg-grid #grid
          persistKey="circ.patron_buckets"
          [dataSource]="dataSource" 
          [cellTextGenerator]="cellTextGenerator"
          (rowSelectionChange)="gridSelectionChange($event)"
          [sortable]="true" 
          [filterable]="true">
          
          <eg-grid-toolbar-button label="New Bucket" i18n-label
            (onClick)="openNewBucketDialog()">
          </eg-grid-toolbar-button>

          <eg-grid-toolbar-action
              label="Edit Bucket" i18n-label
              [disabled]="!oneSelectedRow"
              (onClick)="openEditBucketDialog($event)">
          </eg-grid-toolbar-action>

          <eg-grid-toolbar-action
              label="Delete Bucket(s)" i18n-label
              [disabled]="noSelectedRows"
              (onClick)="openDeleteBucketDialog($event)">
          </eg-grid-toolbar-action>

          <eg-grid-toolbar-action
              label="Transfer Bucket Ownership" i18n-label
              [disabled]="noSelectedRows"
              (onClick)="openTransferDialog($event)">
          </eg-grid-toolbar-action>

          <eg-grid-toolbar-action
              label="Share Bucket" i18n-label
              [disabled]="noSelectedRows"
              (onClick)="openShareBucketDialog($event)">
          </eg-grid-toolbar-action>

          <eg-grid-column path="index" [hidden]="true" [index]="true"></eg-grid-column>
          <eg-grid-column name="id" label="ID"></eg-grid-column>
          <eg-grid-column name="name" [cellTemplate]="nameTemplate" label="Name"></eg-grid-column>
          <eg-grid-column name="description" label="Description"></eg-grid-column>
          <eg-grid-column name="btype" label="Bucket Type"></eg-grid-column>
          <eg-grid-column name="owner.usrname" label="Owner"></eg-grid-column>
          <eg-grid-column name="create_time" label="Create Time" datatype="timestamp"></eg-grid-column>
      </eg-grid>
    </div>
  </div>
</div>

<ng-template #nameTemplate let-row="row">
  <a routerLink="/staff/circ/patron/bucket/content/{{row.id}}" [queryParams]="{returnTo: currentView}">{{row.name}}</a>
</ng-template>

<eg-bucket-dialog #newBucketDialog></eg-bucket-dialog>
