<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/opac">
      <img src="/images/evergreen-logo-white.svg" alt="Evergreen Logo" class="eg-logo" />
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/opac/search" routerLinkActive="active">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/opac/account" routerLinkActive="active">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/opac/places" routerLinkActive="active">Locations</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <!-- Dark/Light/Auto mode toggle -->
        <li ngbDropdown class="nav-item dropdown color-mode-toggle">
          <button type="button" class="nav-link dropdown-toggle with-material-icon" ngbDropdownToggle>
            <ng-container *ngIf="colorMode==='light'">
              <span class="material-icons" aria-hidden="true">light_mode</span>
              <span class="visually-hidden" i18n>Current color mode: Light</span>
            </ng-container>
            <ng-container *ngIf="colorMode==='dark'">
              <span class="material-icons" aria-hidden="true">dark_mode</span>
              <span class="visually-hidden" i18n>Current color mode: Dark</span>
            </ng-container>
            <ng-container *ngIf="colorMode==='auto'">
              <span class="material-icons" aria-hidden="true">brightness_medium</span>
              <span class="visually-hidden" i18n>Current color mode: Auto</span>
            </ng-container>
          </button>
          <div class="dropdown-menu color-mode dropdown-menu-end" ngbDropdownMenu>
            <button type="button" class="dropdown-item" ngbDropdownItem (click)="changeColorMode('light')">
              <span class="material-icons" aria-hidden="true">light_mode</span>
              <span i18n>Light</span>
            </button>
            <button type="button" class="dropdown-item" ngbDropdownItem (click)="changeColorMode('dark')">
              <span class="material-icons" aria-hidden="true">dark_mode</span>
              <span i18n>Dark</span>
            </button>
            <button type="button" class="dropdown-item" ngbDropdownItem (click)="changeColorMode('auto')">
              <span class="material-icons" aria-hidden="true">brightness_medium</span>
              <span i18n>Auto</span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>