<!-- Footer based on existing template -->
<footer class="bg-light text-center text-lg-start mt-4">
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a href="/">Basic Catalog (HTML only)</a></li>
          <li class="list-inline-item"><a href="http://www.georgialibraries.org/lib/directories/pineslibdir.html">Find a Library Near Me</a></li>
          <li class="list-inline-item"><a href="http://open-ils.org/dokuwiki/doku.php?id=evergreen-user:opac_help">Help</a></li>
          <li class="list-inline-item"><a href="http://www.georgialibraries.org/public/pines.html">About PINES</a></li>
          <li class="list-inline-item"><a href="http://www.galileo.usg.edu/">GALILEO</a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 text-lg-end">
        <span>&copy; 2006-2012 Georgia Public Library Service, and others</span>
      </div>
    </div>
  </div>
</footer>
