:host {
  display: block;
  --nav-bg-start: var(--staff-navbar-a);
  --nav-bg-end: var(--staff-navbar-b);
  --nav-link-color: var(--bs-white);
  --nav-link-hover: var(--bs-white);
  --nav-border-hover: var(--bs-gray-300);
  --nav-hover-bg: rgba(var(--success-text-light-rgb), 0.1);
  --nav-hover-border-bottom: rgba(222,226,230,0.4);
  --nav-dropdown-bg: var(--bs-body-bg);
  --nav-dropdown-item-color: var(--bs-body-color);
  --kbd-bg: var(--bs-gray-200);
}

.navbar {
  background: linear-gradient(var(--nav-bg-start), var(--nav-bg-end));
  background-color: var(--nav-bg-end);
  border-bottom: 2px solid var(--border);
  margin-bottom: 1rem;
}

.navbar-brand .eg-logo {
  height: 32px;
  margin-right: 1rem;
}

.nav-link {
  color: var(--nav-link-color);
  border-bottom: 2px solid transparent;
  padding: .5rem .75rem;
}

.nav-link.active,
.nav-link:hover {
  background-color: var(--nav-hover-bg);
  border-bottom: 2px solid var(--nav-hover-border-bottom);
}

.color-mode-toggle .dropdown-menu {
  background-color: var(--nav-dropdown-bg);
}

:host .nav-link:hover,
:host .nav-link:focus,
:host .dropdown-toggle.nav-link:hover,
:host .dropdown-toggle.nav-link:focus {
  color: var(--nav-link-hover);
  background-color: var(--nav-hover-bg);
  border-bottom: 2px solid var(--nav-hover-border-bottom);
  cursor: pointer;
}

:host .dropdown-menu {
  background-color: var(--nav-dropdown-bg);
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 4px;
  padding: 0;
  /* round bottom corners */
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

:host .navbar-collapse.show .dropdown-menu {
  background-color: var(--bs-body-bg-alt);
  color: var(--bs-body-color);
}

:host .dropdown-item:hover,
:host .dropdown-item:focus {
  background-color: var(--nav-hover-bg);
  color: var(--nav-dropdown-item-color);
}

/* Align material-icons with sibling text */
:host .with-material-icon,
:host .dropdown-item {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

/* add padding inside dropdown items */
:host .dropdown-item {
  padding: 0.5rem 0.75rem;
}

/* spacing between icon and text */
:host .dropdown-item .material-icons {
  margin-right: 0.5rem;
}

/* always round bottom corners on last dropdown item */
:host .dropdown-menu .dropdown-item:last-child {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

[data-bs-theme="dark"] :host {
  --nav-link-color: var(--bs-gray-100);
  --nav-link-hover: var(--bs-gray-100);
  --nav-border-hover: var(--bs-gray-300);
  --nav-hover-bg: rgba(211,231,190,0.1);
  --nav-hover-border-bottom: rgba(6,34,25,0.2);
  --nav-dropdown-bg: var(--bs-body-bg-alt);
  --nav-dropdown-item-color: var(--bs-gray-100);
  --kbd-bg: var(--bs-body-bg-highlight);
}